<% content_for :head do %>
	 <%= auto_discovery_link_tag(:rss, article_url(@article, :format => :rss), :title => "RSS feed of versions of this article") %>
	 <link href="<%= @article.url %>" rel="external alternate author" title="Original article"/>
<% end %>

<% @title = "'#{h(@article.title)}' diff viewer (#{@vb.version}/#{@va.version})" %>

<p>This article is from the source '<cite><%= @article.source %></cite>' and was first published or seen
on <time datetime='<%= @article.created_at.iso8601 %>'><%= @article.created_at.utc.to_s(:long) %> (UTC)</time>.

<% if @article.next_check_after.nil? %>
It will not be checked again for changes.
<% elsif @article.next_check_after < (Time.now - 40.days) %>
It last changed over 40 days ago and won't be checked again for changes.
<% else %>
The next check for changes will be <time datetime='<%= @article.next_check_after.iso8601 %>'><%= @article.next_check_after.to_s(:long) %></time>
<% end %>
</p>
<!--
<p>It has  <span id="reccounter<%=@va.id %>"><%= @va.votes %> recommendations</span> - 
  <span id="recommend-<%=@va.id %>">
    <%= link_to_remote 'Recommend this revision', { :url => vote_version_url(@va) }, 
    :title => "Vote for this revision"  %>.
  </span>
</p>-->

<p>You can find the current article at its original source at <cite class="article_url"><%= link_to @article.url %></cite></p>

<p>The article has changed <var><%= @versions.size %></var> times. There is an <%= link_to 'RSS feed of changes', article_url(@article, :format => :rss), :class => 'feed rss' %> available.</p>

<div class="version_list pagination">
<% if @vb.version == 0 %>
<span class="prev_page disabled">Previous version</span>
<% else %>
<%= link_to 'Previous version', { :action => 'diff',
  :version_a => @vb.version,
  :version_b => @vb.version - 1 }, :class => 'prev_page' %>
<% end %>

<% @versions.each do |version| %>
<% next if version.version == 0 %>
<% if version.version == @va.version %>
<span class="current"><%= version.version %></span>
<% else %>
<%= link_to version.version, 
diff_url(@article, version.version - 1, version.version),
:title => version.created_at.to_s(:long) %>
<% end %>
<% end %>

<% if @va.version + 1 == @article.versions_count %>
<span class="next_page disabled">Next version</span>
<% else %>
<%= link_to 'Next version', { :action => 'diff',
  :version_a => @va.version + 1,
  :version_b => @va.version }, :class => 'next_page' %>
<% end %>
</div> 

<table class="version_diff">
<tr>
	<th class="version"><small>Version <%= @vb.version %></small></th>
	<th class="version"><small>Version <%= @va.version %></small></th>
</tr>
<tr>
	<% if @va.title == @vb.title %>
	<th class="title"><%= h @vb.title %></th>
	<th class="title"><%= h @va.title %></th>
	<% else %>
	<th class="title"><del><%= h @vb.title %></del></th>
	<th class="title"><ins><%= h @va.title %></ins></th>
	<% end %>
</tr>
<tr>
	<td class="time"><time datetime="<%= @vb.created_at.iso8601 %>"><%= @vb.created_at %></time></td>
	<td class="time">
		<time datetime="<%= @va.created_at.iso8601 %>">
		<%= @va.created_at %>
		</time> 
		(<%= distance_of_time_in_words(@vb.created_at, @va.created_at) %> <%= @va.created_at > @vb.created_at ? "later" : "earlier" %>)
	</td>
</tr>
<%= @diff %>
</table>
