<% content_for :head do %>
	 <%= auto_discovery_link_tag(:rss, article_url(@article, :format => :rss), :title => "RSS feed of versions of this article") %>
<% end %>

<% @title = "'#{h(@article.title)}' diff viewer (#{@vb.version}/#{@va.version})" %>

<p>This article is from '<strong><%= @article.source %></strong>', was first published or seen
on <strong><%= @article.created_at.utc.to_s(:long) %> (UTC)</strong> and has <strong><%= @article.versions_count %> versions</strong>.</p

<% if @article.next_check_after.nil? %>
<p>It will not be checked again for changes.</p>
<% elsif @article.next_check_after < (Time.now - 40.days) %>
<p>It last changed over 40 days ago and won't be checked again for changes.</p>
<% else %>
<p>It will be next checked for changes after <%= @article.next_check_after.to_s(:long) %></p>
<% end %>

<p>It has  <span id="reccounter<%=@va.id %>"><%= @va.votes %> recommendations</span> - 
  <span id="recommend-<%=@va.id %>">
    <%= link_to_remote 'Recommend this revision', { :url => vote_version_url(@va) }, 
    :title => "Vote for this revision"  %>.
  </span>
</p>
<table width="99%">
<tr>
<td width="50%">
<%= link_to '&laquo; Previous version', :action => 'diff',
  :version_a => @vb.version,
  :version_b => @prev.version if @prev %></td>
<td width="50%" style="text-align: right">
<%= link_to 'Next version &raquo;', :action => 'diff',
  :version_a => @next.version,
  :version_b => @va.version if @next %></td></tr>
</table>
<hr/>
<table>
<tr>
<th width="50%"><small>Version <%= @vb.version %></small></th>
<th width="50%"><small>Version <%= @va.version %></small></th>
</tr>
<tr>
<% if @va.title == @vb.title %>
<th width="50%"><h3><%= h @vb.title %></h3><%= @vb.created_at %></th>
<th width="50%"><h3><%= h @va.title %></h3><%= @va.created_at %></th>
<% else %>
<th width="50%"><h3><del><%= h @vb.title %></del></h3><%= @vb.created_at %></th>
<th width="50%"><h3><ins><%= h @va.title %></ins></h3><%= @va.created_at %></th>
<% end %>
</tr>
<%= @diff %>
</table>
