<h2>News Article Revisions</h2>
<table>
<tr>
<th>Title</th>
<th>Version</th>
<th>Votes</th>
<th>Source</th></tr>
<% @versions.each do |version| %>
<tr>
<% if version.version > 0 %>
<td>
  <%= link_to h(truncate(version.title, :length => 75)), 
	  diff_url(version.news_article.id, version.version - 1, version.version), :title => h(version.title) %>
</td>
<% else %>
<td>
  <span title="<%= h(version.title) %>"><%= h(truncate(version.title, :length => 75)) %></span>
</td>
<% end %>
<td class="version">
  <%= version.version %>
</td>
<td class="votes">
  <%= version.votes %>
</td>
<td>
  <small><%#= version.source %></small>
</td>
</tr>
<% end %>
</table>
<hr/>
<%= will_paginate @versions %>
