<% content_for :head do %>
<%= auto_discovery_link_tag(:rss, versions_path(:format => :rss), :title => "RSS feed of all news article versions") %>
<% end %>

<div id="search">
<%= form_tag versions_url, :method => :get do  %>
   <%= text_field_tag 'q', @search, :class => 'searchbox', :size => 40 %>
   <%= submit_tag ' Search ' %>
<% end %>
</div>

<% if @search %>
<% if @versions.empty? %>
  <p>Your search did not match any versions.</p>
<% else %>
  <p>About <%= number_with_delimiter @versions.total_entries %> results.</p>
<% end %>
<% end %>

<table class="versions">
	<tr>
		<th class="title">News Article Title</th>
		<th class="version">Version</th>
		<th class="source">Source</th>
    <th class="created_at">Discovered</th>
	</tr>
	<% @versions.each do |version| %>
	<tr>
		<td class="title">
		<% if version.version > 0 %>
			<%= link_to h(truncate(version.title, :length => 120)),
			diff_url(version.news_article.id, version.version - 1, version.version),
			:class => "version_title" %>
		<% else %>
			<%= h(truncate(version.title, :length => 120)) %>
		<% end %>
		</td>
		<td class="version">
			<%= version.version %>
		</td>
		<td class="source">
			<cite title="<%= version.url %>"><%= version.news_article.source %></cite>
		</td>
		<td class="created_at">
			<time datetime="<%= version.created_at.iso8601 %>">
			<% if version.created_at < Time.now - 2.hours %>
			<%= version.created_at.strftime("%d %b %Y, %H:%M") %>
			<% else %>
			<%= distance_of_time_in_words(version.created_at, Time.now) %> ago
			<% end %>
		  </time>
		</td>
	</tr>
	<% end %>
</table>
<%= will_paginate @versions, :next_label => "Next", :prev_label => "Previous" %>
