<% content_for :head do %>
<meta name="robots" content="noindex,noarchive">
<link href="<%= @version.news_article.url %>" rel="external alternate author" title="Original article"/>
<meta name="generator" content="<%= @version.news_article.parser %>"/>
<% end %>
<h1><%= @version.title %></h1>
<table>
<tr>
<td>
<p><%= link_to @version.news_article.url, @version.news_article.url %></p>
<p>Version <%= @version.version %> of <%= @versions.size %>.</p>
<% @version.text.split("\n").each do |p| %>
<p><%= p %></p>
<% end %>
</td>
</table>
